@import 'variables';

body {
  background: linear-gradient($bg-grad1, $bg-grad2);
}

time {
  color: $timer-color;
  font-size: $timer-size;
  text-shadow: $timer-shadow;
}

time.pulsate {
  animation: pulsate 1s ease-in-out infinite alternate;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
